
@media all and (max-width: 1000px){
	.logo1 {
	  margin-top:17px;
	  width: 25px;
	}
	ul.header-menu li a {
		font-size: 12px;
	}
	ul.header-menu li a:hover {
	  padding: 29px 16px;
	 
	}
	ul.header-menu span{
	  font-size: 20px;
	  margin-left:5px;
	  
	}
	
	.contents{
		width: 50%;
	}
	.btn {
		width: 50%;
		margin-bottom:15px;
		margin-left: 50px;
		text-align: center;
	}
	.hedfitur{
		text-align: center;
		margin-left: 10px;
	}
	.message{
		margin-left: 10px;
	}

	footer{
		width: 100%;
	}
	.col{
		
		width: 100%;
		text-align: center;
	}
	
}


@media all and (max-width: 670px){
	
	.logo1 {
	  margin-top:35px;
	  width: 25px;
	}

	ul.header-menu span{
	  font-size: 20px;
	  margin-left:5px;
	  
	}
	.logo1.responsive {
	  margin-top:10px;
	  margin-left: 15px;
	  width: 15px;
	}
	ul.header-menu.responsive span{
	  font-size: 20px;
	  padding: 15px 10px;
	  color:#E5FA15;

	}

	ul.header-menu li {
	  	display: none;
	}
	ul.header-menu li.icon {
	    float: right;
	    display: inline-block;
	}
	 
	ul.header-menu.responsive {
	  	position: relative;
	  	background-color: #FFF;
	  	color:black;
	}
	ul.header-menu.responsive li.icon {
	    position: absolute;
	    right: 0;
	    top: 0;
	}
	ul.header-menu.responsive li {
	    float: none;
	    display: inline;
	}
	 
	ul.header-menu.responsive li a {
	    display: block;
	    text-align: left;
	    color:black;
	    padding: 14px 16px;
	}
	ul.header-menu li a:hover {
	  background-color: #009291;
	}
	
  	.main h1,span{
  		text-align:left;
  		font-size: 30px;
    		line-height: 30px;
  	}
  	.main p{
  		text-align:left;
  		font-size: 15px;
    	
  	}
  	.contents{
		width: 100%;
	}
	.logo-contents img{
		width: 200px;
	}
	.logo-contents p{
	  
	  top:100px;
	  
	  color: orange;
	  font-size: 40px;
	  
	}
	
	.message{
		width: 100%;
		margin-left: 2px;
		padding: 15px 30px;
		font-size: 20px;
		text-align:center;
	}
	.hedfitur{
		font-size: 15px;
		
	}
	
	.tiket, .hotel, .transport{
		width:100%;
		font-size: 15px;
		text-align:center;
		padding: 15px 40px;
		margin-left: 5px;
	}
	input, textarea{
  		width: 80%;
		padding: 15px;
	}

}
